@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;700&display=swap');
/* body */
body{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header h2{
    margin: 0 80px;
    padding: 50px;
    color: #3a3a3a;
    font-size: 30px;
}
.banner{
    display: flex;
    margin: 0 80px;
    padding: 50px;
    width: 100%;
}


.banner_titel{
    font-size: 50px;
    color: #3a3a3a;
}

.paragraph{
    color: #3a3a3a;
}

.anathar_btn{
    text-decoration: none;
    background-color: #e02c6d;
    color: #fff;
    padding: 10px 20px;
    border-radius:10px ;
    font-weight: 700;
}
.head_titel{
    text-align: center;
    color: #3a3a3a;
}

.Popular{
    margin: 150px;
}


.prodacts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 50px 150px;
    
}

.prodact{
    width: 330px;
    height: 450px;
    box-shadow: 0px 0px 40px #ddd;
    padding: 15px;
    border-radius: 10px;
}

.prodact_img img{
    width: 100%;
    border-radius: 10px;
}

.btn_two{
    text-align: right;
    text-decoration: underline overline;
    margin: 50px 150px;
}

.another_banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 150px;
    
}

.header_one{
    font-size: 35px;  
}